@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
      /* overflow: hidden; */
  }
  .cool-section {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  #root {
    font-family: 'Raleway', sans-serif;
   
    width: 100%;
    height: 100vh;
    color: white;
  }

  .wrapper {
      background: #E10107;
      overflow: hidden;
      height: 100%;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .navbar > div {
    padding: 0 30px;
    font-size: 20px;
    display: flex;
  }

  .navbar ion-icon {
    color: white;
  }
  .logo {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .navbar svg {
      display: flex;
      fill: white;
      height: 20px;
      width: 20px;
  }

  .navbar .menu {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu ion-icon {
      display: flex;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-list {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .menu-list > ul {
      display: flex;
      margin-bottom: 0!important;
  }
  .search ion-icon {
      display: flex;
  }

  ul {
      list-style: none;
  }

  .navbar li {
    letter-spacing: 2px;
    display: inline-block;
    padding: 0 20px;
    color: white;
    font-weight: 600;
    font-size: 0.8rem;

  }

  .container {
      height: 100%!important;

  }

  .row {
      height: 100%!important;
  }
  .row > div {
      height: 100%;
  }
  #lefttitle {
    padding-top: 17.5rem;
    padding-bottom: 17.5rem;
    padding-left: 10rem;
    padding-right: 0;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .text-container {
      /* height: 100%; */
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      /* width: 100%; */
  }

  .text-container > div {
      display: flex;
      flex-direction: column;
  }


  .big-title {
      color: white;
      font-weight: 600;
  }
  .big-title h1 {
    font-size: 4.5rem;
    margin-bottom: 0!important;
    word-break: keep-all;
    text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  }

  .big-title h2 {
    font-size: 3rem;
    display: table;
    font-family: 'Pathway Gothic One', sans-serif;
      /* letter-spacing: -5px; */
  }

  .big-title h2 span {
    font-size: 2.5rem;
    align-items: center;
    /* transform: scaleX(0.7); */
    display: table-cell;
vertical-align: middle;
      
  }

  .medium-title {
      color: white;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 600;
  }
  .small-title {
      font-size: 2rem;
      font-weight: 600;
  }

  .phone-img {
      /* max-width: 100%;
      max-height: 100%; */
      width: 100%;
      height: 100%;
      object-fit: contain;
  }

  #image {
     
      height: 100%;
      width: 100%;
    background-image: url('../red2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #image-container-cool {
    padding-top: 11rem!important;
    width: 100%;
    height: 100%;
  }

  .special {
      font-size:1rem;
      font-weight: 300;
      word-wrap: unset;
      border: 1px solid white;
      top: -2.5rem;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
      padding-left: 0.7rem;
      padding-right: 0.7rem;
      left: 2rem;
      opacity: 0.8;
  } 



  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 99;
    overflow: hidden!important;
  }
  
  .first {
    background: #A70003;
  }
  
  .second {
    background: #A70003;
    top: 33.3%;
  }
  
  .third {
    background: #A70003;
    top: 66.6%;
  }

 
  @media (max-width: 940px) {
    #image {
      display: none!important;
    }
    #image-container-cool {
      display: none!important;
    }
    #leftitle {
      padding-left: 0;
      width: 100vw;
    }
    .text-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      background-image: url('../red2.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
  }
  }
  @media (max-width: 1100px) {
    .menu-list {
          display: none!important;
      }
    .new-row {
      display: block;
    }
    #lefttitle {
      padding-top: 7rem;
      padding-bottom: 7rem;
      padding-left: 0;
      width: 100vw;
      height: 100vh;
    }
    #image-container-cool {
      display: none!important;
    }
    .special {
      display: none;
    }
    .text-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      background-image: url('../red2.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
  }
  .row {
    display: flex;
    justify-content: center;
  }
  #breaking {
    text-align: center;
  }

}

.new-row {
  display: grid;
  grid-template-columns: 5fr 7fr;
  height: 100%;
}
@media (max-width: 400px) {
  #lefttitle {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0;
    width: 100vw;
    height: 100vh;
  }
  .menu {
    display: none!important;
  }
}